/// Colors

$primary-color: #292929;
$secondary-color: #d2985e;
$light-color: #fdfdfd;
$white-color: #ffffff;
$light-bg-color-1: #fcfcfc;
$light-bg-color-2: #f9f9f9;
$light-bg-color-3: #eeeeec;
$text-color: #686868;
